// @import 'libs/bootstrap-reboot';
// @import 'libs/bootstrap';
@import 'libs/fonts';
@import 'libs/slick';
@import 'libs/animate';

@import 'variables';
@import 'mixins';
@import 'animations';

@import 'blocks/header';
@import 'blocks/intro';
@import 'blocks/tutorial';
@import 'blocks/information';

@import 'media';

* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Museo Sans Cyrl';
    font-weight: 300;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    color: $grey;
    font-size: $title-font-size;
    text-align: center;

    &--35px {
        font-size: $big-title-font-size;
    }
}
