.header {
  background-color: $black;
  height: 50px;
  position: relative;

  &__list {
    display: inline-block;
    list-style: none;
    margin-left: 125px;
  }

  &__item {
    display: inline-block;
    margin-top: 15px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__link {
    color: $white;
    text-decoration: none;

    &:hover {
      color: $grey-light;
      text-decoration: none;
    }
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    filter: invert(100%) sepia(10%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
  }
}
