.intro {
  padding-top: 50px;

  &__text {
    margin-top: 20px;
    color: $grey;
    font-size: $default-font-size;
    text-align: center;
  }

  &__slider {
    position: relative;
    margin-top: 20px;
  }

  &__slide {

    img {
      margin: 0 auto;
      height: 200px;
    }
  }

  .slick-arrow {
    position: absolute;
    border: none;
    background-color: $white;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }

  .slick-prev {
    left: 0;
  }

  .slick-next {
    right: 0;
  }

  .slick-dots {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    list-style-type: none;

    li {
      border: 2px solid black;
      border-radius: 10px;
      color: $white;
      width: 15px;
      height: 5px;

      button {
        display: none;
      }

      &:not(:last-child) {
        margin-right: 5px;
      }
    }

    .slick-active {
      background-color: black;
    }
  }

  .animate__fadeIn {
    animation-delay: 1s;
  }
}
