.intro {
  padding-top: 50px;

  &__title {
    color: $grey;
    font-size: 35px;
    text-align: center;
  }

  &__text {
    margin-top: 20px;
    color: $grey;
    font-size: 20px;
    text-align: center;
  }

  .animate__fadeIn {
    animation-delay: 1s;
  }
}
